@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Maven Pro", sans-serif;
  color: #9fa4af;
  font-weight: 400;
  line-height: 1.6; }

.container {
  max-width: 183rem;
  padding: 4rem 5rem 0rem 5rem; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.2rem 3rem;
  display: inline-block;
  border-radius: 10rem;
  outline: none;
  cursor: pointer; }

.btn--down {
  background: #fff;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  font-size: 2rem;
  color: #9fa4af;
  box-shadow: 2px -1px 53px -8px rgba(0, 0, 0, 0.75);
  position: absolute;
  bottom: 25rem;
  left: 50%;
  transform: translateX(-50%);
  outline: none;
  cursor: pointer; }

.active {
  color: #6e45e2; }

@keyframes pulse {
  0% {
    transform: scale(1, 1); }
  50% {
    opacity: 0.3; }
  100% {
    transform: scale(1.5);
    opacity: 0; } }

.header {
  height: 80vh;
  background: linear-gradient(to right, rgba(110, 69, 226, 0.8), rgba(136, 211, 206, 0.8)), url("../img/main_bg.jpg") no-repeat center center;
  background-size: cover; }
  .header__menu {
    display: flex;
    justify-content: space-between; }
    .header__menu--link {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 3rem;
      color: #fff;
      letter-spacing: 8px; }
    .header__menu--img {
      position: relative;
      top: 15px;
      margin-right: 1.8rem; }
    .header__menu--list {
      display: flex;
      list-style: none;
      color: #fff;
      font-size: 1.6rem; }
    .header__menu--item {
      display: inline-block;
      margin: 0 2.5em;
      padding-bottom: 1rem;
      align-self: flex-end;
      cursor: pointer;
      transition: all .3s;
      border-bottom: 1px solid transparent; }
    .header__menu--item:hover {
      border-bottom: 1px solid #fff; }
    .header__menu--btn {
      background: transparent;
      border: 1px solid #fff;
      color: #fff;
      height: 4.8rem;
      position: relative;
      top: 12px; }

.heading {
  color: #fff;
  text-align: center;
  position: relative; }
  .heading__title {
    margin-top: 15rem;
    text-align: center; }
    .heading__title--intro {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 1.4rem;
      width: 100%; }
    .heading__title--main {
      font-size: 8.6rem;
      font-weight: 500; }
    .heading__title--text {
      font-size: 1.6rem;
      width: 38rem;
      margin: 0 auto;
      font-weight: 400; }

.plan {
  margin-bottom: 12rem; }
  .plan__title {
    text-align: center;
    margin-top: 12rem; }
    .plan__title--intro {
      font-size: 1.4rem;
      text-transform: uppercase;
      font-weight: 700; }
    .plan__title--main {
      font-size: 6rem;
      font-weight: 500;
      color: #4f4f6f; }
    .plan__title--text {
      font-size: 1.6rem;
      width: 58rem;
      margin: 0 auto; }

.plan__select {
  display: flex;
  margin-top: 10rem;
  justify-content: center; }

.card {
  width: 44rem;
  height: 64.8rem;
  border: 1px solid #d3d7e5;
  border-radius: 2.5rem;
  text-align: center;
  color: #9fa4af;
  transition: all .3s; }
  .card__icon {
    margin-top: 6rem;
    margin-bottom: 5.5rem;
    width: 12rem;
    height: 11rem; }
  .card__intro {
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase; }
  .card__price {
    font-size: 5rem;
    color: #4f4f6f; }
    .card__price sup {
      font-size: 2rem; }
    .card__price span {
      font-size: 1.4rem;
      font-weight: 700; }
  .card__text {
    font-size: 1.6rem;
    width: 28rem;
    margin: 4.5rem auto 5.5rem auto; }
  .card__btn {
    box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
    font-size: 1.2rem;
    font-weight: 700;
    color: #9fa4af;
    width: 19rem;
    transition: color .3s, background .3s; }

.card:hover {
  box-shadow: 0px 0px 81.88px 10.12px rgba(204, 204, 223, 0.71);
  border: none; }
  .card:hover .card__btn {
    background: #6e45e2;
    color: #fff;
    box-shadow: none; }

.card:nth-child(2) {
  margin: 0 5rem; }

.map {
  background: linear-gradient(to right, rgba(110, 69, 226, 0.8), rgba(136, 211, 206, 0.8)), url("../img/map.png") no-repeat center center;
  height: 52.2rem;
  text-align: center;
  position: relative; }
  .map__block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; }
    .map__block--intro {
      font-weight: 400;
      font-size: 1.4rem; }
    .map__block--title {
      font-size: 6rem;
      font-weight: 500; }
    .map__block--btn {
      margin-bottom: 3px;
      color: #9fa4af;
      font-size: 1.2rem;
      font-weight: 700;
      transition: all .3s; }
    .map__block--btn:hover, .map__block--btn:active {
      outline: none;
      color: #fff;
      background: #6e45e2;
      border: 1px solid transparent; }

.footer__menu {
  display: flex;
  justify-content: space-between; }
  .footer__menu--link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    color: #9fa4af;
    letter-spacing: 8px; }
  .footer__menu--img {
    position: relative;
    top: 15px;
    margin-right: 1.8rem; }
  .footer__menu--list {
    display: flex;
    list-style: none;
    color: #9fa4af;
    font-size: 1.6rem; }
  .footer__menu--item {
    display: inline-block;
    margin: 0 2.5em;
    padding-bottom: 1rem;
    align-self: flex-end;
    cursor: pointer;
    transition: all .3s;
    border-bottom: 1px solid transparent; }
  .footer__menu--item:hover {
    border-bottom: 1px solid #9fa4af; }
  .footer__menu--btn {
    background: transparent;
    border: 1px solid #9fa4af;
    color: #9fa4af;
    height: 4.8rem;
    position: relative;
    top: 12px; }

.footer__block {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 0;
  margin-top: 2.5rem;
  border-top: 1px solid #f2f2f3;
  font-size: 14px; }
  .footer__block--social > * {
    margin-left: 1rem;
    transition: all .3s; }
  .footer__block--social > *:hover {
    color: #6e45e2; }
