.plan {

    margin-bottom: 12rem;
    &__title {
        text-align: center;
        margin-top: 12rem;
        &--intro {
            font-size: 1.4rem;
            text-transform: uppercase;
            font-weight: 700;
        }
        &--main {
            font-size: 6rem;
            font-weight: 500;
            color: $color-font;
        }
        &--text {
            font-size: 1.6rem;
            width: 58rem;
            margin: 0 auto;
        }
    }
}

.plan__select {
    display: flex;
    margin-top: 10rem;
    justify-content: center;
}

.card {
    width: 44rem;
    height: 64.8rem;
    border: 1px solid #d3d7e5;
    border-radius: 2.5rem;
    text-align: center;
    color: $color-font-2;
    transition: all .3s;

    &__icon {
        margin-top: 6rem;
        margin-bottom: 5.5rem;
        width: 12rem;
        height: 11rem;
    }

    &__intro {
        font-size: 1.4rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__price {
        font-size: 5rem;
        color: $color-font;
        
        sup {
            font-size: 2rem;
        }

        span {
            font-size: 1.4rem;
            font-weight: 700;
        }
    }

    &__text {
        font-size: 1.6rem;
        width: 28rem;
        margin: 4.5rem auto 5.5rem auto;
    }

    &__btn {
        box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
        font-size: 1.2rem;
        font-weight: 700;
        color: $color-font-2;
        width: 19rem;
        transition: color .3s, background .3s;
    }
}

.card:hover {
    box-shadow: 0px 0px 81.88px 10.12px rgba(204, 204, 223, 0.71);
    border: none;

    & .card__btn {
        background: $color-primary;
        color: #fff;
        box-shadow: none;
    }
}

.card:nth-child(2) {
    margin: 0 5rem;
}

